<link rel="stylesheet" type="text/css" media="all" href="__S__datetime/daterangepicker-bs3.css" />
<script type="text/javascript" src="__S__datetime/moment.js"></script>
<script type="text/javascript" src="__S__datetime/daterangepicker.js"></script>

<div class="panel-body">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <select name="province_code" data-id="1" class="form-control input-sm">
                        <option value="1">省</option>
                        {foreach $province as $v}
                        <option value="{$v.code}" {$Request.param.pr==$v.code?'selected':''}>{$v.name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-md-2 col-sm-4">
                    <select name="city_code" data-id="2" class="form-control input-sm">
                        <option value="1">市</option>
                        {foreach $city as $v}
                        <option value="{$v.code}" {$Request.param.c==$v.code?'selected':''}>{$v.name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-md-2 col-sm-4">
                    <select name="district_code" data-id="3" class="form-control input-sm">
                        <option value="1">区/县</option>
                        {foreach $district as $v}
                        <option value="{$v.code}" {$Request.param.d==$v.code?'selected':''}>{$v.name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-md-5  col-sm-6">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn"
                             style="width: 90px;border-right: none;position: relative;right: -1px">
                            <select name="cate-search" class="form-control input-sm" id="cate-search">
                                <option value="1">商品名</option>
                                <option value="2" {$Request.param.mn?'selected':''}>用户名</option>
                            </select>
                        </div>

                        <input type="text" class="form-control" id="search-context" placeholder="请输入商品名"
                               value="{$Request.param.gn?$Request.param.gn:''}{$Request.param.mn?$Request.param.mn:''}">
                 <span class="input-group-btn">
                 <a href="javascript:void (0);" id="filter-submit" class="btn btn-success btn-sm">搜索</a>
               </span>
                    </div>

                </div>
                <script>
                    $('#cate-search').on('change',function(){
                        var cate=$(this).val();
                        if(cate==2){
                            $('#search-context').attr('placeholder','请输入代理商用户名');
                        }else {
                            $('#search-context').attr('placeholder','请输入商品名');
                        }
                    })
                </script>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="btn-group btn-group-sm  pull-right" id="btn-able-status">
                <a type="button" class="btn btn-default {$Request.param.b==5||!$Request.param.b?'active':''}"
                   data-cate="5">全部</a>
                <a type="button" class="btn btn-default {$Request.param.b==1?'active':''}" data-cate="1">草稿箱</a>
                <a type="button" class="btn btn-default {$Request.param.b==2?'active':''}" data-cate="2">审核中</a>
                <a type="button" class="btn btn-default {$Request.param.b==3?'active':''}" data-cate="3">审核通过</a>
                <a type="button" class="btn btn-default {$Request.param.b==4?'active':''}" data-cate="4">审核不通过</a>
            </div>
        </div>


    </div>
    <div class="goods-nav">
        <ul class="nav nav-pills">
            <li class="{$Request.param.sort?'':'active'}{$Request.param.sort=='normal-1'?'active':''}"><a href="javascript:void (0);" data-operate="order" data-sort="1" data-cate="normal">默认</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle {$Request.param.sort=='price-1'||$Request.param.sort=='price-2'?'active':''}"  data-toggle="dropdown" href="#">
                    {switch name="Request.param.sort"}
                    {case value="price-1"}价格从低到高{/case}
                    {case value="price-2"}价格从高到低{/case}
                    {default /}价格
                    {/switch}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void (0);" data-operate="order" data-sort="1" data-cate="price">按价格从:&nbsp;<strong class="text-success">低&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;高</strong></a></li>
                    <li><a href="javascript:void (0);" data-operate="order" data-sort="2" data-cate="price">按价格从:&nbsp;<strong class="text-success">高&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;低</strong></a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle {$Request.param.sort=='true_sales-1'||$Request.param.sort=='true_sales-2'?'active':''}"  data-toggle="dropdown" href="#">
                    {switch name="Request.param.sort"}
                    {case value="true_sales-1"}销量从低到高{/case}
                    {case value="true_sales-2"}销量从高到低{/case}
                    {default /}销量
                    {/switch}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void (0);" data-operate="order" data-sort="1" data-cate="true_sales">按销量从:&nbsp;<strong class="text-success">低&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;高</strong></a></li>
                    <li><a href="javascript:void (0);" data-operate="order" data-sort="2" data-cate="true_sales">按销量从:&nbsp;<strong class="text-success">高&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;低</strong></a></li>


                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle {$Request.param.sort=='show_count-1'||$Request.param.sort=='show_count-2'?'active':''}"  data-toggle="dropdown" href="#">
                    {switch name="Request.param.sort"}
                    {case value="show_count-1"}浏览量从低到高{/case}
                    {case value="show_count-2"}浏览量从高到低{/case}
                    {default /}浏览量
                    {/switch}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void (0);" data-operate="order" data-sort="1" data-cate="show_count">按浏览量从:&nbsp;<strong class="text-success">低&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;高</strong></a></li>
                    <li><a href="javascript:void (0);" data-operate="order" data-sort="2" data-cate="show_count">按浏览量从:&nbsp;<strong class="text-success">高&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;低</strong></a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle {$Request.param.sort=='create_time-1'||$Request.param.sort=='create_time-2'?'active':''}"  data-toggle="dropdown" href="#">
                    {switch name="Request.param.sort"}
                    {case value="create_time-1"}最先发布{/case}
                    {case value="create_time-2"}最后发布{/case}
                    {default /}发布时间
                    {/switch}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void (0);" data-operate="order" data-sort="1" data-cate="create_time">按最<strong class="text-success">先</strong>发布时间排序</a></li>
                    <li><a href="javascript:void (0);" data-operate="order" data-sort="2" data-cate="create_time">按最<strong class="text-success">后</strong>发布时间排序</a></li>

                </ul>
            </li>
        </ul>
    </div>


    <div class="list-group">

        {foreach $list as $v}
        <div class="list-goods-item row">
            <div class="col-sm-10">

                <div class="img pull-left "><a href="#"><img src="/static/upload/image/goods/head_img/{$v.head_img}"
                                                             class="img-responsive" alt=""></a></div>

                <div class="content pull-left">
                    <h4><a href="#">{$v.goods_name} </a>
                        <small><span class="label {$v.status_cn_class}">{$v.status_cn}</span></small>
                    </h4>
                    <h2>{$v.price}
                        <small>元</small>
                    </h2>
                    <p>
                        <small>虚拟销量：<span class="text-primary">{$v.virtual_sales}</span></small>
                        <small>真实销量：<span class="text-primary">{$v.true_sales}</span></small>
                        <small>发布时间：<span class="text-primary">{$v.create_time}</span></small>
                        {if condition="$v['update_time']!=null"}
                        <small>修改时间：<span class="text-primary">{$v.update_time}</span></small>
                        {/if}
                    </p>
                </div>

            </div>
            <div class="operate col-sm-2">
                <div class="common-operate">
                    {if condition="$v['status']==3"}
                    <a href="javascript:void (0);" data-operate="schedule" data-id="{$.goods_id}"><i class="fa fa-calculator"></i>&nbsp;排期</a>

                    {/if}
                    <a href="__SITE__editGoods/{$v.goods_id}"><i class="fa fa-edit (alias)"></i>&nbsp;编辑</a>

                    {eq name="v.status" value="1"}
                    <a href="javascript:void (0);" data-operate="delete"  data-id="{$v.goods_id}"><i class="fa fa-trash"></i>&nbsp;<span>删除</span></a>
                    {else /}
                    <a href="javascript:void (0);" data-operate="put" data-status="{$v.put}" data-id="{$v.goods_id}"><i class="fa fa-eye-slash"></i>&nbsp;<span>{$v.put==1?'下架':'上架'}</span></a>
                    {/eq}


                </div>

                <div class="audit">


                    <a href="javascript:void (0);" class="btn btn-success btn-xs audit-goods" data-id="{$v.goods_id}"
                       data-status="3" {$v.status==3?'disabled="disabled"':''}>通过审核</a>


                    <a href="javascript:void (0);" class="btn btn-danger btn-xs audit-goods" data-id="{$v.goods_id}"
                       data-status="4" {$v.status==4?'disabled="disabled"':''}>拒绝通过</a>


                </div>

            </div>
        </div>

        {/foreach}
    </div>
    {$list->render()}
</div>
<script>
    $(function () {




        //升序降序事件
        $('[data-operate="order"]').on('click', function () {
            var cate = $(this).attr('data-cate');
            var sort = $(this).attr('data-sort');

                getUrl('sort', cate + '-' + sort);


        });

        //三级联动省市区
        $('select').on('change', function () {
            var $this = $(this);
            var code = $this.val();
            var cate = $this.attr('data-id');
            var num = parseInt(cate) + 1;
            var $next_select = $('select[data-id="' + num + '"]');

            $next_select.empty();
            $.post('__INDEX__manager/getCodeSun', {code: code, cate: cate}, function (msg) {
                switch (cate) {
                    case '1':
                        $next_select.append('<option value="1">请选择市</option>');
                        break;
                    case '2':
                        $next_select.append('<option value="1">请选择区/县</option>');
                        break;
                }

                for (var key in msg) {
                    var option = $('<option value="' + msg[key].code + '">' + msg[key].name + '</option>');
                    $next_select.append(option);
                }
            });
        });

        //搜索按钮点击事件
        $('#filter-submit').on('click', function () {

            var p_code = $('select[name="province_code"]').val();
            var c_code = $('select[name="city_code"]').val();
            var d_code = $('select[name="district_code"]').val();
            var search = $('#search-context').val();
            var search_cate = $('#cate-search').val();
            var btn_status = $('#btn-able-status>.active').attr('data-cate');
            console.log(btn_status);

            var href = '__SITE__goodsList';

            if (p_code&&p_code != 1) {
                if (c_code == 1||c_code==null) {
                    href = href + '/pr/' + p_code;
                } else {
                    if (d_code == 1||c_code==null) {
                        href = href + '/pr/' + p_code + '/c/' + c_code;
                    } else {
                        href = href + '/pr/' + p_code + '/c/' + c_code + '/d/' + d_code;
                    }
                }
            }


            switch (search_cate){
                case '1':
                    if (search) {
                        href = href + '/gn/' + search;
                    }
                    break;
                case '2':
                    if (search) {
                        href = href + '/mn/' + search;
                    }
                    break;

            }

            if (btn_status) {
                href = href + '/b/' + btn_status;
            }

            window.location.href = href;

        });

        //全选 禁用 启用 按钮的点击事件
        $('#btn-able-status>a:not(".active")').on('click', function () {
            getUrl('b', $(this).attr('data-cate'));
        });

        /*组装跳转url
         *str 地址栏的参数名
         *param 当前触发对象的参数值
         */
        function getUrl(str, param) {
            var s = getUrlParam('s');
            var pr = getUrlParam('pr');
            var c = getUrlParam('c');
            var d = getUrlParam('d');
            var sort = getUrlParam('sort');

            var b = getUrlParam('b');
            var href = '__SITE__goodsList';
            switch (str) {
                case 'sort':
                    sort = param;
                    break;

                case 'b':
                    b = param;
                    break;
            }
            if (pr) {
                href = href + '/pr/' + pr;
            }
            if (c) {
                href = href + '/c/' + c;
            }
            if (d) {
                href = href + '/d/' + d;
            }
            if (s) {
                href = href + '/s/' + s;
            }
            if (sort) {
                href = href + '/sort/' + sort;
            }
            if (b) {
                href = href + '/b/' + b;
            }
            window.location.href = href;
        }

        /*判断url中参数是否存在
         * str 判断的参数名称
         */
        function getUrlParam(str) {
            switch (str) {
                case 'pr':
                    var pr = "<?php echo input('param.pr'); ?>";
                    return pr;
                    break;
                case 'c':
                    var c = "<?php echo input('param.c'); ?>";
                    return c;
                    break;
                case 'd':
                    var d = "<?php echo input('param.d'); ?>";
                    return d;
                    break;
                case 's':
                    var s = "<?php echo input('param.s'); ?>";
                    return s;
                    break;
                case 'b':
                    var b = "<?php echo input('param.b'); ?>";
                    return b;
                    break;
                case 'sort':
                    var sort = "<?php echo input('param.sort'); ?>";
                    return sort;
                    break;

            }
        }

        //查看地区弹出框
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });

        //降序提示
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
        var $list_group=$('.list-group');
        //下架
        $list_group.on('click','[data-operate="put"]',function(){

            var $this = $(this),
                    id = $this.attr('data-id'),
                    status = $this.attr('data-status');
            if(status==1){
                status=2;
                var span='上架';

            }else {
                status=1;
                var span='下架';

            }
            $.post('__INDEX__goods/putGoods', {goods_id: id, put: status}, function () {
                $this.find('span').html(span);
                $this.attr('data-status', status);
            });
        });

        //排期
        var $date_modal=$('#date-modal');
        $list_group.on('click','[data-operate="schedule"]',function(){
            $date_modal.modal();
        });

        //获取当前时间
        function getTime () {
            var myDate = new Date();
            var hours = myDate.getHours();
            var minutes = myDate.getMinutes();
//        var am=(hours >= 12) ? "PM" : "AM";
            var timeValue = myDate.toLocaleDateString()+' ';
            timeValue += hours;
            timeValue += ((minutes < 10) ? ":0" : ":") + minutes+' ';
//        timeValue += am;
            return timeValue;
        }
        var $date_input=$('#reservationtime');
        $date_input.val(getTime()+' - '+getTime());
        $date_input.daterangepicker({
            timePicker: true,
            timePickerIncrement: 1,
            format: 'YYYY/MM/DD H:mm'
        }, function(start, end, label) {
        });

        //列表中审核通过、审核不通过按钮的点击事件
        var $alert = $('#alert-modal'), $current_audit;
        $list_group.on('click', '.audit-goods[disabled!="disabled"]', function () {
            $current_audit = $(this);
            var data_id = $(this).attr('data-id');
            var data_status = $(this).attr('data-status');
            if (data_status == '3') {
                $alert.find('h2').html('客户端将显示此商品，确认通过？');
            } else {
                $alert.find('h2').html('客户端将无法显示此商品，确认拒绝？');
            }

            var $confirm = $alert.find('.confirm');
            $confirm.attr('id', 'audit-confirm');
            $confirm.attr('data-type', 'able-status');
            $confirm.attr('data-id', data_id);
            $confirm.attr('data-status', data_status);
            $alert.modal();
        });



        //审核弹出框确认操作
        $alert.on('click', '#audit-confirm', function () {
            var status = $(this).attr('data-status');
            var id = $(this).attr('data-id');
            $.post('__INDEX__goods/updateStatus', {goods_id: id, status: status}, function (msg) {
                var label=$current_audit.parent().parent().prev().find('.label').parent();
                switch (status) {
                    case '3':
                        $current_audit.next().removeAttr('disabled');

                            var span=$('<span class="label label-success">审核通过</span>');

                        break;
                    case '4':
                        $current_audit.prev().removeAttr('disabled');
                        var span=$('<span class="label label-danger">审核不通过</span>');
                        break;
                }
                label.empty().append(span);
                $current_audit.attr('disabled', 'disabled');
                $alert.modal('hide');
            });
        });


        //删除
        $list_group.on('click','[data-operate="delete"]',function(){
            $current_audit = $(this);
            var data_id = $(this).attr('data-id');
                $alert.find('h2').html('确认从草稿箱删除？');
            var $confirm = $alert.find('.confirm');
            $confirm.attr('id', 'delete-confirm');
            $confirm.attr('data-id', data_id);
            $alert.modal();
        });

        //删除弹出框确认操作
        $alert.on('click', '#delete-confirm', function () {
            var id = $(this).attr('data-id');
            $.post('__INDEX__delete/draft', {goods_id: id}, function (msg) {
                console.log(msg);
                $current_audit.parent().parent().parent().remove();
                autoBottom();//自适应bottom
                $alert.modal('hide');
            });
        });


    });


</script>
