<div class="panel-body">

    <form class="form-horizontal" role="form">
        <div class="form-group form-group-sm" id="username">
            <label class="control-label col-md-2">用户名 </label>
            <div class="col-md-9">

                <input type="text" name="username" class="form-control" value="{$info.username}">
                <input type="hidden" name="id"  value="{$info.id}">
            </div>
        </div>

        <div class="form-group form-group-sm"  id="password">
            <label class="control-label col-md-2">密码 </label>
            <div class="col-md-9">
                <input type="password" name="password" class="form-control" value="{$info.password}">
            </div>
        </div>
        <!--负责区域-->
        <div class="form-group form-group-sm"  id="auth">
            <label class="control-label col-md-2">负责区域</label>
            <div class="col-md-9">
                <div class="auth-area">
                    <div class="row" style="background-color: #f8f8f8">
                        <div class="col-md-12 ">
                            <div class="row ">
                                <div class="col-md-4 bg-primary text-center" style="height: 35px;line-height: 35px"><span>省</span>
                                </div>
                                <div class="col-md-4 bg-primary text-center" style="height: 35px;line-height: 35px"><span>市</span>
                                </div>
                                <div class="col-md-4 bg-primary text-center" style="height: 35px;line-height: 35px"><span>区/县</span>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 area-list" style="padding: 0">

                            <ul class="nav nav-pills nav-stacked" id="area-province">
                                {foreach $province as $v}
                                <li data-code="{$v.code}" data-cate="1"  {$v.code|in_array=$province_selected?'class="bg-info"':''}><a href="javascript:void(0);"><div
                                        class="checkbox-inline"><input type="checkbox" {$v.code|in_array=$province_selected?'checked':''}>{$v.name}</div></a></li>
                                {/foreach}
                            </ul>
                        </div>

                        <div class="col-md-4 area-list" style="padding: 0;border-left: 1px solid #ddd;border-right: 1px solid #ddd">

                            <ul class="nav nav-pills nav-stacked" id="area-city">

                            </ul>
                        </div>
                        <div class="col-md-4 area-list" style="padding: 0">

                            <ul class="nav nav-pills nav-stacked" id="area-district">

                            </ul>
                        </div>
                        <div class="col-md-12 ">
                            <div class="row ">
                                <div class="col-md-4 area-bottom"><span><label class="checkbox-inline"><input type="checkbox"
                                                                                                              id="all-province">全选</label></span>
                                </div>
                                <div class="col-md-4 area-bottom" style="border-left: 1px solid #ddd;border-right: 1px solid #ddd"><span><label class="checkbox-inline"><input type="checkbox"
                                                                                                              id="all-city">全选</label></span>
                                </div>
                                <div class="col-md-4 area-bottom"><span><label class="checkbox-inline"><input type="checkbox"
                                                                                                              id="all-district">全选</label></span>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>

                <div class="city-selected">


                    {foreach $province_auth as $vp}
                    <span class="label label-primary" data-code="{$vp.code}" data-cate="1">{$vp.name}&nbsp;<i class="fa fa-times-circle"></i></span>
                    {/foreach}
                    {foreach $city_auth as $vc}
<span class="label label-success" data-code="{$vc.code}" data-cate="2">{$vc.name}&nbsp;<i class="fa fa-times-circle"></i></span>
                    {/foreach}
                    {foreach $district_auth as $vd}
                    <span class="label label-warning" data-code="{$vd.code}" data-cate="3">{$vd.name}&nbsp;<i class="fa fa-times-circle"></i></span>
                    {/foreach}

                </div>

            </div>
        </div>
        <!--负责区域-end-->

        <div class="form-group form-group-sm"  id="responsible">
            <label class="control-label col-md-2">负责人</label>
            <div class="col-md-9">
                <input type="text" name="responsible" class="form-control" value="{$info.responsible}">
            </div>
        </div>

        <div class="form-group form-group-sm" id="phone">
            <label class="control-label col-md-2">联系电话 </label>
            <div class="col-md-9">
                <input type="text" name="phone" class="form-control" value="{$info.phone}">
            </div>
        </div>
        <div class="form-group form-group-sm" id="weixin">
            <label class="control-label col-md-2">客服微信</label>
            <div class="col-md-9">
                <input type="text" name="weixin" class="form-control" value="{$info.weixin}">
            </div>
        </div>
        <div class="form-group form-group-sm" id="qq">
            <label class="control-label col-md-2">客服QQ</label>
            <div class="col-md-9">
                <input type="text" name="qq" class="form-control" value="{$info.qq}">
            </div>
        </div>
        <div class="form-group form-group-sm" id="tel">
            <label class="control-label col-md-2">客服电话</label>
            <div class="col-md-9">
                <input type="text" name="tel" class="form-control" value="{$info.tel}">
            </div>
        </div>

        <div class="form-group form-group-sm" id="province_code">
            <label class="control-label col-md-2">所在地</label>
            <div class="col-md-3">
                <select name="province_code" data-id="1" class="form-control ">
                    <!--<option value="1">省</option>-->
                    {foreach $province as $v}
                    <option value="{$v.code}" {$info.province_code==$v.code?'selected':''}>{$v.name}</option>
                    {/foreach}
                </select>
            </div>
            <div class="col-md-3">
                <select name="city_code" data-id="2" class="form-control ">

                    {foreach $city as $v}
                    <option value="{$v.code}" {$info.city_code==$v.code?'selected':''}>{$v.name}</option>
                    {/foreach}

                </select>
            </div>
            <div class="col-md-3">
                <select name="district_code" data-id="3" class="form-control ">

                    {foreach $district as $v}
                    <option value="{$v.code}" {$info.district_code==$v.code?'selected':''}>{$v.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <!--三级联动js-->
        <script>
            $('select').on('change', function () {
                var $this=$(this);
                var code = $this.val();
                var cate =$this.attr('data-id');
                var num=parseInt(cate)+1;
                var $next_select=$('select[data-id="'+num+'"]');
                $next_select.empty();
                $.post('__INDEX__manager/getCodeSun',{code:code,cate:cate},function(msg){
                    switch (cate){
                        case '1':
                            $next_select.append('<option value="1">请选择市</option>');
                            break;
                        case '2':
                            $next_select.append('<option value="1">请选择区/县</option>');
                            break;
                    }

                    for(var key in msg){
                        var option=$('<option value="'+msg[key].code+'">'+msg[key].name+'</option>');
                        $next_select.append(option);
                    }
                });
            });
        </script>
        <div class="form-group form-group-sm" id="addr">
            <label class="control-label col-md-2">街道地址</label>
            <div class="col-md-9">
                <textarea name="addr"  cols="30" rows="2" class="form-control" >{$info.addr}</textarea>
            </div>
        </div>
        <link rel="stylesheet" href="__S__editor/dist/css/wangEditor.min.css">
        <script src="__S__editor/dist/js/wangEditor.min.js"></script>
        <div class="form-group form-group-sm" id="intro">
            <label class="control-label col-md-2">详细介绍</label>
            <div class="col-md-9">
                <textarea name="intro"  id="editor" cols="30" rows="20" class="form-control" ></textarea>
            </div>
        </div>
        <script>
            //初始化编辑器
            var editor = new wangEditor('editor');
            editor.config.uploadImgUrl = '__INDEX__image/editorUpload';
            editor.config.emotions = {
                'default': {
                    title: '默认',  // 组名称
                    data: '/static/editor/emotions.data'  // data 可以是一个url地址，访问该地址要能返回表情包的json文件
                }
            };
            editor.config.uploadImgFns.onload = function (msg, xhr) {
                //解析text格式为json
                var res=JSON.parse(msg);

                // msg 服务器端返回的text
                // xhr 是 xmlHttpRequest 对象，IE8、9中不支持
                // 上传图片时，已经将图片的名字存在 editor.uploadImgOriginalName
                var originalName = editor.uploadImgOriginalName || '';

                // 插入图片：
                editor.command(null, 'insertHtml', '<img src="' + res.src + '" alt="' + originalName + '" width="'+res.width+'" height="'+res.height+'" data-name="'+res.save_name+'" class="img-responsive"/>');
            };
            editor.create();
            editor.$txt.html('<?php echo $info["intro"];?>');
        </script>
        <div class="form-group form-group-sm">

            <div class="col-md-9 col-md-offset-2">
                <a href="javascript:void (0);" class="btn btn-success btn-block" id="manager-submit">保存</a>
            </div>

        </div>


    </form>


</div>

<script>
    var area=JSON.parse('<?php echo $area; ?>'), $area_list = $('.area-list'),$select_div=$('.city-selected');

    console.log(area);
    //美化滚动条
    $area_list.niceScroll({
        cursorborder: "#ffffff",
        cursorcolor: "#ddd",
        cursorwidth: "6px",
        zindex: 1,
        boxzoom: false
    });
    $select_div.niceScroll({
        cursorborder: "#ffffff",
        cursorcolor: "#ddd",
        cursorwidth: "6px",
        zindex: 1,
        boxzoom: false
    });

    $('#manager-submit').on('click', function () {


        var fd=new FormData($('form')[0]);
        fd.append('auth',getAuthCode());
        $.ajax({
            type: 'post',
            url: '__INDEX__manager/saveManager',
            data: fd,
            dataType: 'json',
            success: function (msg) {







                if(msg.status==1){
                    var alert = $('<div class="form-group form-group-sm"  style="display: none;"><div class="col-md-9 col-md-offset-2"><div class="alert alert-success" style="margin-bottom: 0"><strong><i class="fa fa-warning (alias)">&nbsp;</i>成功！</strong>即将跳转</div></div></div>');

                    $('#manager-submit').parent().parent().before(alert);
                    alert.slideDown('fast');
                    setTimeout(function () {
                        window.location.href='__SITE__managerList';
                    }, 200);
                }else {
                    var alert = $('<div class="form-group form-group-sm"  style="display: none;"><div class="col-md-9 col-md-offset-2"><div class="alert alert-danger" style="margin-bottom: 0"><strong><i class="fa fa-warning (alias)">&nbsp;</i>警告！</strong>' + msg.content.msg + '</div></div></div>');
                    window.location.href='#'+msg.content.key;
                    $('#'+msg.content.key).before(alert);
                    alert.slideDown('fast');
                    setTimeout(function () {
                        alert.slideUp('fast');
                        setTimeout(function () {
                            alert.remove();
                        }, 2000);
                    }, 3000);
                }
            },
            processData: false,
            contentType: false,
        });
    });


    //selected-div 取消选择i
    $select_div.on('click','.fa-times-circle',function(){
        var parent=$(this).parent();
        var code=parent.attr('data-code');
        var cate=parent.attr('data-cate');

        removeSpan(code);
        var li=$('.area-list li[data-code="'+code+'"');
        li.find('input').prop('checked', false);
        cancelProvince(code,cate,li);

//        $.post('__INDEX__manager/getCodeSun',{cate:cate,code:code},function(msg){
//
//            var sum=0;
//            for(var key in msg['data']){
//                if($.inArray(msg['data'][key].code,area)!=-1){
//                    sum=sum+1;
//
//                }
//            }
//            console.log(sum);
//            if(sum==0){
//                removeSpan(msg.p_code);
//            }
//        });


    });





    //全选
    //省
    $('#all-province').on('change',function(){
        var status = $(this).prop('checked');

        $('#area-province input[type="checkbox"]').each(function () {
            var parent=$(this).parent().parent().parent();
            var code = parent.attr('data-code');
            var cate = parent.attr('data-cate');
            var name = $(this).parent().parent().text();
            if(status){
                selectProvince(code,cate,parent,name);
                $(this).prop('checked', true);
            }else {
                cancelProvince(code,cate,parent);
                $(this).prop('checked', false);
            }
        });
    });
    //市
    $('#all-city').on('change',function(){
        var status = $(this).prop('checked');

        $('#area-city input[type="checkbox"]').each(function () {
            var parent=$(this).parent().parent().parent();
            var code = parent.attr('data-code');
            var cate = parent.attr('data-cate');
            var name = $(this).parent().parent().text();
            if(status){
                selectProvince(code,cate,parent,name);
                $(this).prop('checked', true);
            }else {
                cancelProvince(code,cate,parent);
                $(this).prop('checked', false);
            }
        });
    });
    //区
    $('#all-district').on('change',function(){
        var status = $(this).prop('checked');
        $('#area-district input[type="checkbox"]').each(function () {
            var parent=$(this).parent().parent().parent();
            var code = parent.attr('data-code');
            var cate = parent.attr('data-cate');
            var name = $(this).parent().parent().text();
            if(status){
                selectProvince(code,cate,parent,name);
                $(this).prop('checked', true);
            }else {
                cancelProvince(code,cate,parent);
                $(this).prop('checked', false);
            }
        });
    });


    //整理权限信息
    function getAuthCode(){
        var code1 = [], code2 = [], code3 = [], arr=[];

        $('.city-selected>span[data-cate="1"]').each(function () {
            code1.push($(this).attr('data-code'));
        });
        $('.city-selected>span[data-cate="2"]').each(function () {
            code2.push($(this).attr('data-code'));
        });
        $('.city-selected>span[data-cate="3"]').each(function () {
            code3.push($(this).attr('data-code'));
        });

        arr.push(code1);
        arr.push(code2);
        arr.push(code3);

        return JSON.stringify(arr);

    }


    var flag_check=false;
    //委派省市区 选中/取消 事件
    $area_list.on('change', 'input[type="checkbox"]', function () {

        flag_check=true;
        var status = $(this).prop('checked');
        var parent = $(this).parent().parent().parent();
        var code = parent.attr('data-code');
        var cate = parent.attr('data-cate');

        var name = $(this).parent().parent().text();


        //下级操作
        if (status) {
            selectProvince(code,cate,parent,name);
        } else {
            cancelProvince(code,cate,parent);
        }


        //上级操作
        if(cate!=1){
            linkage(cate,parent);

        }

    });

    //移除selected-div中span

    function removeSpan(code){
        $('.city-selected>span[data-code="' + code + '"]').remove();
        area.pop(code);
    }


    //向selected-div添加span
    function addSpan(cate,name,code){

        if($.inArray(code, area)==-1){
            switch (cate) {
                case '1':
                    var label = $('<span class="label label-primary" data-code="' + code + '" data-cate="' + cate + '" >' + name + '&nbsp;<i class="fa fa-times-circle"></i></span>');
                    break;
                case '2':
                    var label = $('<span class="label label-success" data-code="' + code + '" data-cate="' + cate + '">' + name + '&nbsp;<i class="fa fa-times-circle"></i></span>');
                    break;
                case '3':
                    var label = $('<span class="label label-warning" data-code="' + code + '" data-cate="' + cate + '">' + name + '&nbsp;<i class="fa fa-times-circle"></i></span>');
                    break;
            }
            $select_div.append(label);
            area.push(code);
        }
    }


    //选后子选项后的上级联动操作

    function linkage(cate,parent){
        var p_code=parent.attr('data-parent');
        var p=$('li[data-code="'+p_code+'"]');
        var g_code= p.attr('data-parent');
        if(isSelected(cate)){
            p.find('input').prop('checked', true);
            p.addClass('bg-info');
            if(g_code){
                addSpan('2', p.text(),p_code);
                var g_li=$('li[data-code="'+g_code+'"]');
                g_li.find('input').prop('checked', true);
                g_li.addClass('bg-info');
                addSpan('1', g_li.text(),g_code);
            }else {
                addSpan('1', p.text(),p_code);
            }
        }else {
            p.find('input').prop('checked', false);
            p.removeClass('bg-info');
            removeSpan(p_code);
            if(g_code){
                var g_li=$('li[data-code="'+g_code+'"]');
                g_li.find('input').prop('checked', false);
                g_li.removeClass('bg-info');
                removeSpan(g_code);
            }else {
            }
        }

    }

    //检查当前区域是否有选中选项
    function isSelected(cate){

        switch (cate){
            case '2':
                return $('#area-city .bg-info').length;
                break;
            case '3':
                return $('#area-district .bg-info').length;
                break;

        }
    }


    //选中函数
    function selectProvince(code, cate, parent, name) {
        parent.addClass('bg-info');
        addSpan(cate,name,code);
        $.post('__INDEX__manager/getCode', {code: code, cate: cate}, function (msg) {
            //遍历子地区
            for (var key in msg) {
                addSpan(msg[key].cate,msg[key].name,msg[key].code);
            }
        });

    }

    //取消函数
    function cancelProvince(code,cate,parent){
        parent.removeClass('bg-info');
        removeSpan(code);
        $.post('__INDEX__manager/getCode',{code:code,cate:cate},function(msg){

            for(var key in msg){
                removeSpan(msg[key].code);
                var li=$('li[data-code="'+msg[key].code+'"]');
                li.find('input').prop('checked',false);
                li.removeClass('bg-info');
            }
        });
    }



    //委派点击省份事件
    $('#area-province').on('click', 'li', function () {
        var province_code = $(this).attr('data-code');


        $.post('__INDEX__manager/getCity', {province_code: province_code}, function (msg) {
            var $city_div = $('#area-city');
            $city_div.empty();
            for (var key in msg) {

                if (flag_check) {
                    var li = $('<li data-code="' + msg[key].code + '" data-cate="2" data-parent="' + msg[key].province_code + '" class="bg-info"><a href="javascript:void(0);"><div class="checkbox-inline"><input type="checkbox" checked>' + msg[key].name + '</div></a></li>');
                } else {
                    var code_isexist = $.inArray(msg[key].code, area);
                    if (code_isexist == -1) {
                        var li = $('<li data-code="' + msg[key].code + '" data-cate="2" data-parent="' + msg[key].province_code + '"><a href="javascript:void(0);"><div class="checkbox-inline"><input type="checkbox">' + msg[key].name + '</div></a></li>');
                    } else {
                        var li = $('<li data-code="' + msg[key].code + '" data-cate="2" data-parent="' + msg[key].province_code + '" class="bg-info"><a href="javascript:void(0);"><div class="checkbox-inline"><input type="checkbox" checked>' + msg[key].name + '</div></a></li>');
                    }
                }

                $city_div.append(li);
            }
            flag_check=false;

        });
    });

    //委派点击城市事件
    $('#area-city').on('click', 'li', function () {

        var city_code = $(this).attr('data-code');
        var checked_status=$('#area-city li[data-code="'+city_code+'"]').find('input').prop('checked');
        $.post('__INDEX__manager/getDistrict', {city_code: city_code}, function (msg) {
            var $district_div = $('#area-district');
            $district_div.empty();
            for (var key in msg) {
                if(flag_check){
                    var li = $('<li data-code="' + msg[key].code + '"  data-parent="' + msg[key].city_code + '" data-cate="3" class="bg-info"><a href="javascript:void(0);"><div class="checkbox-inline"><input type="checkbox" checked>' + msg[key].name + '</div></a></li>');
                }
                else {
                    var code_isexist = $.inArray(msg[key].code, area);
                    if (code_isexist == -1) {
                        var li = $('<li data-code="' + msg[key].code + '"  data-parent="' + msg[key].city_code + '" data-cate="3"><a href="javascript:void(0);"><div class="checkbox-inline"><input type="checkbox">' + msg[key].name + '</div></a></li>');
                    } else {
                        var li = $('<li data-code="' + msg[key].code + '"  data-parent="' + msg[key].city_code + '" data-cate="3" class="bg-info"><a href="javascript:void(0);"><div class="checkbox-inline"><input type="checkbox" checked>' + msg[key].name + '</div></a></li>');
                    }
                }

                $district_div.append(li);
            }
            flag_check=false;

        });
    });

</script>