<div class="zk-left">
    <div class="left-header">
        <a href="__SITE__"><h4>LOGO-后台管理</h4></a>
    </div>

    <div class="left-nav" >


        <div class="left-list">

            <span style="font-size: 16px;color: #333"><i class="fa fa-sitemap text-primary"></i>&nbsp;<strong>代理商管理</strong></span>

            <ol class="row">

                <li><a href="__SITE__addManager">添加代理商</a></li>
                <!--<li><a href="__SITE__editAuth">编辑权限-临时</a></li>-->
                <li><a href="__SITE__ManagerList">代理商</a></li>

            </ol>

        </div>
        <div class="left-list">

            <a href="" style="font-size: 16px;color: #333"><i class="fa fa-shopping-cart text-primary"></i>&nbsp;<strong>商品管理</strong></a>

            <ol class="row">
                <li><a href="__SITE__addGoods">添加商品</a></li>
                <li><a href="__SITE__goodsList">出售中的商品</a></li>
                <li><a href="__SITE__goodsList/b/1">草稿箱</a></li>
                <li><a href="__SITE__goodsList/put/2">仓库中的商品</a></li>
            </ol>

        </div>

        <div class="left-list">

            <a href="" style="font-size: 16px;color: #333"><i class="fa fa-tasks text-primary"></i>&nbsp;<strong>订单管理</strong></a>

            <ol class="row">
                <li><a href="">出售中商品</a></li>
                <li><a href="">已售出商品</a></li>
                <li><a href="">商品仓库</a></li>
                <li><a href="">发布商品</a></li>
                <li><a href="">品牌查询</a></li>
            </ol>

        </div>
        <div class="left-list">

            <a href="" style="font-size: 16px;color: #333"><i class="fa fa-line-chart text-primary"></i>&nbsp;<strong>店铺运营</strong></a>

            <ol class="row">
                <li><a href="">出售中商品</a></li>
                <li><a href="">已售出商品</a></li>
                <li><a href="">商品仓库</a></li>
                <li><a href="">发布商品</a></li>
                <li><a href="">品牌查询</a></li>
            </ol>

        </div>

        <div class="left-list">

            <a href="" style="font-size: 16px;color: #333"><i class="fa fa-institution (alias) text-primary"></i>&nbsp;<strong>店铺管理</strong></a>

            <ol class="row">
                <li><a href="">出售中商品</a></li>
                <li><a href="">已售出商品</a></li>
                <li><a href="">商品仓库</a></li>
                <li><a href="">发布商品</a></li>
                <li><a href="">品牌查询</a></li>
            </ol>

        </div>

        <div class="left-list">

            <a href="" style="font-size: 16px;color: #333"><i class="fa fa-truck text-primary"></i>&nbsp;<strong>物流管理</strong></a>

            <ol class="row">
                <li><a href="">出售中商品</a></li>
                <li><a href="">已售出商品</a></li>
                <li><a href="">商品仓库</a></li>
                <li><a href="">发布商品</a></li>
                <li><a href="">品牌查询</a></li>
            </ol>

        </div>

        <div class="left-list">

            <a href="" style="font-size: 16px;color: #333"><i class="fa fa-user text-primary"></i>&nbsp;<strong>会员管理</strong></a>

            <ol class="row">
                <li><a href="">出售中商品</a></li>
                <li><a href="">已售出商品</a></li>
                <li><a href="">商品仓库</a></li>
                <li><a href="">发布商品</a></li>
                <li><a href="">品牌查询</a></li>
            </ol>

        </div>
    </div>
</div>
<script>
    $(".left-nav").niceScroll({
        cursorborder: "#ffffff",
        cursorcolor: "#337ab7",
        cursorwidth: "1px",
        zindex: 1,
        boxzoom: false,
        horizrailenabled:false//禁止水平滚动
    });
</script>