

<!-- 模态框（Modal） -->
<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="top: 45%;">
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h2 class="modal-title " style="color: white;text-align: center;font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                   无提示内容！
                </h2>
                <div style="text-align: center;margin-top: 10px">
                    <a type="button" class="btn btn-default"
                       data-dismiss="modal">关闭
                    </a>
                    <a type="button" class="btn btn-success confirm" data-type="">
                        确认
                    </a>
                </div>
            </div>
            <!--<div class="modal-body">-->



            <!--</div>-->

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="date-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="top: 35%;background-color: rgba(255,255,255,.8);border: solid 10px rgba(51,122,183,.5)" >
            <div class="modal-header" style="border-bottom: none;">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h2 class="modal-title " style="color: #337ab7;text-align: center;font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                    <i class="fa fa-calculator"></i>&nbsp;排期
                </h2>
                <!--<div style="text-align: center;margin-top: 10px">-->
                    <!--<a type="button" class="btn btn-default"-->
                       <!--data-dismiss="modal">关闭-->
                    <!--</a>-->
                    <!--<a type="button" class="btn btn-success confirm" data-type="">-->
                        <!--确认-->
                    <!--</a>-->
                <!--</div>-->
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-3">期数</label>
                        <div class="col-sm-9">
                            <input type="text" name="period" class="form-control" placeholder="期数">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-3">开始时间-结束时间</label>
                        <div class="col-sm-9">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                    <input type="text" name="reservation" id="reservationtime" class="form-control" value="2016/08/01 下午 1:00 - 2017/08/01 1:30 PM"  class="span4"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <div style="text-align: center;margin-top: 10px">
                    <a type="button" class="btn btn-default"
                       data-dismiss="modal">关闭
                    </a>
                    <a type="button" class="btn btn-success confirm" data-type="">
                        确认
                    </a>
                </div>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<script>



    $('#search-title').on('keydown', function (event) {

        switch (event.keyCode) {
            case 13:
                $('#search-btn').trigger('click');
                break;
        }

    });
</script>




    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
